<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="<%= htmlWebpackPlugin.options.metaDesc %>" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- <link href="./style.css" rel="stylesheet" type="text/css" /> -->
    
    <!-- p5play -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/p5@1/lib/p5.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/p5@1/lib/addons/p5.sound.min.js"></script> -->

     <!-- updated to local files  -->
    <!-- <script src="./planck.min.js"></script> -->
    <!-- <script src="./p5play.js"></script> -->



    <!-- <script src="https://p5play.org/v3/planck.min.js"></script> -->
    <!-- <script src="https://p5play.org/v3/p5play.js"></script> -->

    <!-- <script src="https://p5play.org/v3/p5play.js"></script> -->
    <!-- Supabase -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script> -->
  </head>
  <body>
    <!-- <script type="module", src="script.js"></script> -->
  </body>
</html>